<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    {{> header}}

    <p>I am Manal Liaquat & I am a MERN Stack developer</p>
    <p>You can see my projects at <a href="https://github.com/ManalLiaquat" target="_blank">GitHub Profile</a></p>

    {{> footer}}
</body>

</html>